.Rproj.user
.Rhistory
.RData
*.dSYM
*.swp
*.o
*.so
*.dll
*.gz
*.Rcheck
docs/
windows/
src/Makevars
autom4te.cache/
config.log
config.status
docs
inst/shp
*.gpkg-wal
*.gpkg-shm

src-i386
src-x64
*.rds
*.json
temp
